/* .h2 h2{
 color:white;
 font-size: 80px;
 font-weight: 600;
}
.span{
    color: transparent;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   font-family: Arial, Helvetica, sans-serif;
}

.first div{
   width: 5.2rem;
   background-color: orange;
  height: 90%;
  position: absolute;
  z-index: 2;
  border-radius: 20px;
  left: 10px;
  top: 1px;
}

.first span{
    z-index: 1;
    padding-left: 10PX;
 
}
.LEFT-P{
    font-size: 20px;
    color: white;
}
.numb span{
 font-size: 20px;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #544a7d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffd452, #544a7d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffd452, #544a7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.span {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.h2 h2 {
    color: white;
    font-size: 80px;
    font-weight: 600;
}

.second {
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-left: 150px;
}

.stroke {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    padding: 0;
    margin: 0;
}

.btn {
    margin: 0;

}
.in input{
width: 80%;
margin-left: 30px;
}

.in label{
  
margin-left: 30px;
}
.in .p{
    color: white;
    margin-left: 15px;
}
.in button{
    margin-left: 200px;
    margin-bottom: 10px;
}

#c1{
width: 20rem; 
height: 15rem;

border-color: white;

transition: transform 500ms;
}
#c1:hover{
    background-color: transparent;
    color: white;
    transform: translateY(-30px);
}

#c2{
width: 20rem; 
height: 15rem;
border-color: white;
transition: transform 500ms;
}
#c2:hover{
    background-color: transparent;
    color: white;
    transform: translateY(-30px);
}

#c4{
    width: 20rem; 
    height: 15rem;
    border-color: white;
    transition: transform 500ms;
}
#c3{
    border-color: white;
    transition: transform 500ms;
}
#c3:hover{
    background-color: transparent;
    color: white;
    transform: translateY(-30px);
}
#c4:hover{
    background-color: transparent;
    color: white;
   
    transform: translateY(-30px);
}

#card1{
    border-color: white;
    transition: transform 500ms;
}
#card1:hover{
    background-color: transparent;
    color: white;
   
    transform: translateY(-30px);
}

#card2{
    border-color: white;
    transition: transform 500ms;
}
#card2:hover{
    background-color: transparent;
    color: white;
   
    transform: translateY(-30px);
}

#card3{
    border-color: white;
    transition: transform 500ms;
}
#card3:hover{
    background-color: transparent;
    color: white;
   
    transform: translateY(-30px);
}

@media screen and (max-width:600px) {
   .in button{
    margin-left: 150px;
   }

    .fiting {
        width: 350px;
        height: 400px;
        padding-left: 10px;
    }

    .second {
        font-size: 35px;
       margin-left: 0;
    }

    .score {
        padding-left: 60px;

    }

    .h2 .score1 {
        padding-left: 120px;
        margin-top: 0;
    }

    .first span {
      margin-left: 0;
    }

    .heading {
        font-size: 100px;
    }

    .h2 h2 {
        font-size: 50px;
        padding-left: 30px;
    }

    .h2 p {
        color: white;
        justify-content: center;
        align-items: center;

    }

    .img1 {
        width: 150px;
        height: 300px;
        position: absolute;
    }

    .img2 {
        width: 150px;
        height: 290px;
        position: relative;
        top: 10px;
        left: 80px;
    }

    .img3 {
        width: 200px;
        position: relative;
        top: 20px;
        right: 30px;
    }

    .REASONS h3 {
        font-size: 18px;
    }

    .REASONS img {
        width: 30px;
    }

    .REASONS p {
        padding-left: 80px;
    }

    .REASONS h4 {
        padding-left: 60px;
    }

    .REASONS h5 {
        padding-left: 80px;
    }

   

    .second {
        padding-left: 60px;
    }

    .CARDS img {
        width: 20px;
    }
 .link{
    display: flex;
    gap: 2rem;
 }
 .linkp{
    display: none;
 }
  #c1{
    width: 20rem;
  }
  #c2{
width: 20rem;
  }
  #c3{
width: 20rem;
  }
  #c4{
    width: 20rem;
  }
}


